{% extends layoutfp %}
{% block ftitle %}
Tony Yang Home
{% endblock %}

{% block fbody %}

<div class="content">
    <div class="statement-container">
        <div class="statement">
            <h1 class="statement-title no-margin">A sentence that describes you.</h1>
            <h2 class="statement-subtitle no-margin">Explanation</h2>
        </div>
    </div>

    <div class="socials-container">
        <div class="socials">
            <h3 id="socials-title">Connect with me.</h3>
            <ul class="socials-list">
                <li class="socials-item">Github</li>
                <li class="socials-item">Blogspot</li>
                <li class="socials-item">Linkedin</li>
                <li class="socials-item">Twitter</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}