{% extends layoutfp %}
{% block ftitle %}
Tony Yang Home
{% endblock %}

{% block fbody %}

<div class="content">
    <h1 class="sanserif">I believe in...</h1>
    <div class="statments-container">
        <div class="statement-container">
            <div class="statement">
                <h1 class="statement-title no-margin serif">Technology</h1>
                <h2 class="statement-subtitle no-margin serif">To connect people.</h2>
            </div>
        </div>

        <div class="statement-container">
            <div class="statement">
                <h1 class="statement-title no-margin serif">Social Good</h1>
                <h2 class="statement-subtitle no-margin serif">To help people.</h2>
            </div>
        </div>

        <div class="statement-container">
            <div class="statement">
                <h1 class="statement-title no-margin serif">Diversity</h1>
                <h2 class="statement-subtitle no-margin serif">To build community.</h2>
            </div>
        </div>
    </div>

    <div class="statements-container">
        <h1 class="sanserif">I am currently working on...</h1>
        <ul style="list-style: none; padding: 0;">
            <li class="serif">Insert feature here.</li>
        </ul>
    </div>

    <div class="socials-container">
        <div class="socials">
            <h2 id="socials-title" class="no-margin sanserif">Connect with me.</h2>
            <ul class="socials-list">
                <li class="socials-item serif"><a href="https://github.com/tyang27" target="_blank">Github</a></li>
                <li class="socials-item serif"><a href="https://tonysbitsandbytes.wordpress.com" target="_blank">Blog</a></li>
                <li class="socials-item serif"><a href="https://www.linkedin.com/in/tony-yang-a6198511a/" target="_blank">Linkedin</a></li>
                <li class="socials-item serif"><a href="https://www.goodreads.com/user/show/79956266-tony-y" target="_blank">Goodreads</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}