{% extends layoutfp %}
{% block ftitle %}
Tony Yang Tech
{% endblock %}

{% block fbody %}

<div class="content">
    <div class="tech-container">

        <div class="tech-section" id="research">
            <div class="project-title"><h1>Research</h1></div>
            <div class="project-grid">
                <div class="project">
                    <h3 class="no-margin">Postpartum Depression</h3>
                    <hr class="project-divider"/>
                    <p>Johns Hopkins University, Dr. Casey Overby Taylor</p>
                </div>
                <div class="project">
                    <h3 class="no-margin">Ravel Net</h3>
                    <hr class="project-divider"/>
                    <p>Temple University, Dr. Anduo Wang</p>
                </div>
            </div>
        </div>

        <div class="tech-section" id="hackathon">
            <div class="project-title"><h1>Hackathons</h1></div>
            <div class="project-grid">
                <div class="project">
                    <h3 class="no-margin">Project</h3>
                    <hr class="project-divider"/>
                    <p></p>
                </div>
                <div class="project">
                    <h3 class="no-margin">Project</h3>
                    <hr class="project-divider"/>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="tech-section" id="coursework">
            <div class="project-title"><h1>Coursework</h1></div>
            <div class="project-grid">
                <div class="project">
                    <h3 class="no-margin">Project</h3>
                    <hr class="project-divider"/>
                    <p></p>
                </div>
                <div class="project">
                    <h3 class="no-margin">Project</h3>
                    <hr class="project-divider"/>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}