{% extends layoutfp %}
{% block ftitle %}
Tony Yang Tech
{% endblock %}

{% block fbody %}

<div class="content">
    <div class="tech-container">

        <div class="tech-section" id="research">
            <div class="project-title sanserif"><h1>Research</h1></div>
            <div class="project-grid">
                <div class="project">
                    <h3 class="no-margin serif">Postpartum Depression</h3>
                    <hr class="project-divider"/>
                    <p class="serif">Johns Hopkins University, Dr. Casey Overby Taylor</p>
                </div>
                <div class="project">
                    <h3 class="no-margin serif">Ravel Net</h3>
                    <hr class="project-divider"/>
                    <p class="serif">Temple University, Dr. Anduo Wang</p>
                </div>
            </div>
        </div>

        <div class="tech-section" id="coursework">
            <div class="project-title sanserif"><h1>Coursework</h1></div>
            <div class="project-grid">
                <div class="project">
                    <h3 class="no-margin">Computer Graphics</h3>
                    <hr class="project-divider"/>
                    <p>Image processing, ray-tracing, rendering, and animation in C++/OpenGL</p>
                </div>
                <div class="project">
                    <h3 class="no-margin">Mobile Applications</h3>
                    <hr class="project-divider"/>
                    <p>Backend for app that allows users to track time spent on phone.</p>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}