{% extends layoutfp %}
{% block ftitle %}
Tony Yang
{% endblock %}

{% block fbody %}

<div class="content">
    <h1 class="sanserif">Tony Yang</h1>
    <h2 class="serif">He/Him/His</h2>
    <h3 class="serif">Undergraduate at Johns Hopkins University | Department of Computer Science</h3>
    <h3 class="serif">Tech intern at Cisco Systems | Operations</h3>

    <div>
        <h2 class="serif">How I spend my time</h2>
        <img src="static/hierarchy.svg" width="50%" alt=""> 
    </div>

    <div class="socials-container">
        <div class="socials">
            <h2 id="socials-title" class="no-margin serif">Connect with me.</h2>
            <ul class="socials-list">
                <li class="socials-item serif"><a href="https://github.com/tyang27" target="_blank">Github</a></li>
                <li class="socials-item serif"><a href="https://tonysbitsandbytes.wordpress.com" target="_blank">Blog</a></li>
                <li class="socials-item serif"><a href="https://www.linkedin.com/in/tony-yang-a6198511a/" target="_blank">Linkedin</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
