<html>
<head>
    <title>{%block ftitle %}{% endblock %}</title>

    <!-- Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

    <!-- CSS. -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="navbar-container">
    <ul class="navbar-list" role="navigation">
        <li class="navbar-item sanserif"><a href="/">Home</a></li>
        <li class="navbar-item sanserif"><a href="/tech">Tech</a></li>
    </ul>
</div>

{% block fbody %}
{% endblock %}

<!--footer class="sanserif">
    Tony Yang | tyang27@jhu.edu | 2018.
</footer-->
</body>
</html>
