{% extends layoutfp %}
{% block ftitle %}
Photography
{% endblock %}
{% block fbody %}
<div class="container">
  <h1>Photography</h1>
  <p class="lead">I use a Nikon D3100 camera for my photography. While it is a more basic camera that lacks some important features, I enjoy its company nonetheless.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-thumbnail" src="https://lh3.googleusercontent.com/hpueG6dewCOtUcGYaeX4dTbuV-3LWft3y5KYjhLK44G1MPogpwsCNrRUQ4hfE0c2rj1TJMilhUI3lK5GquBFOkQK7drz_gBTioHXGwnH2aWi2NCIuyAlIo0gE4VqLjqIbOreJ_-jUGg=w2400" style="width=100%;" class="img-rounded">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-thumbnail" src="https://lh3.googleusercontent.com/TQ2mej8kltY9F4RX3f61wrMEQgo70akIk93Q3ZgAhThkpygbFRAVSwiTNkUna0OB4LxneECxQjKOk5oxhhvLq_50rByleAxTc-C97WbrXh4DTq1RkowlcPjpCCypO8VCS9XhD_1OmJ4=w2400" style="width=100%;" class="img-rounded">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-thumbnail" src="https://lh3.googleusercontent.com/dvOCglC2aKTCGVBQWVq461Fh85HvU-gHtC_b2AcNzIYQ2RU1JPOy8R2bS_a1R-5gXPEVELzawMeFTHk-bNz3reNZLRAA9QJCtDzeMCz2KtL0TRsh-XjAu25sO0-5QWnflPzZUr8IYJE=w2400" style="width=100%;" class="img-rounded">
      </div>
    </div>
  </div>
</div>
{% endblock %}
