{% extends layoutfp %}

{% block ftitle %}
Research
{% endblock %}


{% block fbody %}
<div class="container">
  <h1>Research</h1>
  <div class="row">
    <div class="col-sm-10">
      <ul class="list-unstyled">
        {% for proj in projects %}
        <li>
          <div class="card mb-2">
            <!--img class="card-img-top" src={{proj.img}} alt="coming..."-->
            <div class="card-body">
              <h5 class="card-title">{{proj.name}}</h5>
              <h6 class="card-subtitle text-muted">{{proj.proj}}</h6>
              <p class="card-text mb-0">{{proj.desc}}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
