{% extends layoutfp %}

{% block ftitle %}
Community Service
{% endblock %}


{% block fbody %}
<div class="container">
  <h1>Community Service</h1>
  <div class="row">
    <div class="col-sm-10">
      <p class="lead">When asked what my hobby is, I always say service. Volunteering allows me to connect and give back to the community. It is important to use the privilege I have to support others.</p>
      <p class="lead font-weight-bold">Some organizations I participate in:</p>
    </div>
  </div>
  <div class="row">
    <dl class="col-sm-10 dl-horizontal">
      {% for proj in projects %}
      <dt>{{proj.name}}</dt>
      <dd>{{proj.desc}}</dd>
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}
