{% extends layoutfp %}
{% block ftitle %}
Tony Yang Tech
{% endblock %}

{% block fbody %}

<div class="content">
    <div class="tech-container">

        <div class="tech-section" id="research">
            <div class="project-title sanserif"><h1>Research</h1></div>
            <div class="project">
                <h3 class="no-margin serif">Postpartum Depression</h3>
                <p class="serif">Johns Hopkins University, Dr. Casey Overby Taylor</p>
            </div>
            <div class="project">
                <h3 class="no-margin serif">Ravel Net</h3>
                <p class="serif">Temple University, Dr. Anduo Wang</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
