{% extends layoutfp %}
{% block ftitle %}
Video
{% endblock %}
{% block fbody %}
<div class="container">
  <h1>Video</h1>
  <p class="lead">I started out interested in photography, but I quickly 
  realized how expressive video could be. There is something about 
  movement and sounds that pictures can allude to but cannot capture. Through
  these short windows into my life, I hope to capture little moments of joy.
  </p>
  <p class="lead font-weight-bold">Moments at Light City in Baltimore, 2018</p>
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2u8fyJIQbyg" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <p class="lead font-weight-bold">Moments at PIFA, Baltimore Avenue Dollars Stroll in Philadelphia, 2018</p>
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VH-mMIS830s" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
